<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.raghavateam">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="?attr/actionModePasteDrawable"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RaghavaTeam"
        tools:targetApi="33">
        <activity
            android:name=".msg"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".chat_nav"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".list_model_friend"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".character_page"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".character_child"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".chat"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".spin_c"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".flash_page"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".owner1"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".Home_page"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".profile"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".sign_up"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".sign_in"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
    </application>

</manifest>